{% if page.comments %}
<script defer>
    var d = document;
    var imgs = d.getElementsByClassName("imgpoper");
    for (var i = -1; ++i < imgs.length;) {
        var img = imgs[i];
        img.style.display = "block";
        img.style.margin = "auto";
        img.style.cursor = "-webkit-zoom-in";
        img.addEventListener("click", function (img) {
            return function () {
                var bodyEl = d.getElementsByTagName("body").item(0);
                var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
                var maskEl = d.createElement("div");
                bodyEl.appendChild(maskEl);
                maskEl.style.position = "fixed";
                maskEl.style.top = 0;
                maskEl.style.left = 0;
                maskEl.style.width = w + "px";
                maskEl.style.height = h + "px";
                maskEl.style.textAlign = "center";
                maskEl.style.backgroundColor = "rgba(0,0,0,0.7)";
                maskEl.style.overflow = "auto";

                var alignHelper = d.createElement("span");
                maskEl.appendChild(alignHelper);
                alignHelper.style.display = "inline-block";
                alignHelper.style.height = "100%";
                alignHelper.style.verticalAlign = "middle";

                var zoomedIn = d.createElement("img");
                maskEl.appendChild(zoomedIn);
                zoomedIn.style.backgroundColor = "white";
                zoomedIn.style.maxWidth = "100%";
                zoomedIn.style.cursor = "-webkit-zoom-out";
                zoomedIn.style.verticalAlign = "middle";
                zoomedIn.setAttribute("src", img.getAttribute("src"));

                maskEl.addEventListener("click", function () {
                    bodyEl.removeChild(maskEl);
                });
            }
        }(img));
    }
</script>
{% endif %}
