<div class="w3-container w3-teal">
    <h3>
        <a class="w3-hover-text-yellow" href="/">Popduke's Blog</a>
        <a class="w3-xlarge w3-right" href="/feed.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
        <a class="w3-xlarge w3-right w3-margin-right" href="mailto:popduke@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a class="w3-xlarge w3-right w3-margin-right" href="http://github.com/popduke" target="_blank"><i class="fa fa-github"></i></a>
        <a class="w3-xlarge w3-right w3-margin-right" href="/"><i class="fa fa-home"></i></a>
    </h3>
</div>